.container-fluid {
    > .col,
    > [class*="col-"] {
        text-align: center;
        background-color: red;
    }
  }

.col-sm {
    background-color: red;
    margin: 2rem;
    color: white;
    text-align: center;
}