.featured_article {
    margin: 3rem auto;
    width: 100%;

    display: flex;
    justify-content: center;

    .container {
        margin: 0;

        .featured_image {  
            padding: 0;
            padding-right: 3rem;

            display: flex;
            img {
                display: block;
                width: 100%;
                object-fit: contain;
            }
        }

        .featured_text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0;

            .featured_welcome {
                text-transform: uppercase;
                color: var(--Secondary);
                font-size: 1.9rem;
            }

            .featured_articleTitle {
                color: var(--buttonPrimary);
                font-size: 3.3rem;
                font-weight: bold;
                font-family: 'Merriweather', serif;
            }

            .featured_blurb {
                color: var(--primaryDarker);
                font-size: 1.7rem;
                line-height: 2;
            }

            .featured_author {
                font-size: 1.8rem;

                span {
                    font-weight: bold;
                }
            }
        }
    }
}