footer {
    background-color: var(--footerGreen);

    .footer_upper {
        .footer_logo {
            height: 4.5rem;
        }
    }
    
    .footer_middle {

        .middle_container {
            font-size: 1.5rem;
            color: var(--white);
            
            .footer_middle-directions {
                .fas {
                    margin-right: 1rem;
                }
            }
            
            .footer_middle-contact {
                a {
                    text-decoration: none;
                    color: var(--white);
                }
            }

            .footer_middle-quickLinks {

            }
        }

    }

    .footer_lower {
        color: var(--white);
        font-size: 1.2rem;
    }
    
    
    
    
    .footer_nav {
        
        .footer_navItem {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.5rem;
            
            text-decoration: none;
            color: var(--white);
        }
        
        .footer_navItem:hover {
            opacity: 0.3;
        }
        
        .fas {
            padding-right: 0.5rem;
            color: var(--Secondary);
        }
    }
    
    .footer_legal {
        list-style: none;
        
        a li {
            color: var(--white);
            text-decoration: none;
            font-size: 1.2rem;
        }
    }
}

