.footer_nav {

    .footer_navItem {
        display: flex;
        flex-direction: row;

        text-decoration: none;
        color: var(--white);
    }

    .footer_navItem:hover {
        opacity: 0.3;
    }

    .fas {
        padding-right: 0.5rem;
        color: var(--Secondary);
    }
}

.footer_legal {
    list-style: none;

    a li {
        color: var(--white);
        text-decoration: none;
        font-size: 1.2rem;
    }
}

