header {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

.header_button, .header_contactUs {
    font-size: 12px;
    text-transform: uppercase;

    padding: 9px 17px;
    border-radius: 50px;
    
    background-color: var(--buttonPrimary);
    color: var(--white);
}

.menu_search {
    padding: 0;
}

.menu_burger, .menu_search {
    border: none;
    background: none;
}

.menu_burger:hover {
    cursor: pointer;
    opacity: 0.3;
}

.header_contactUs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    min-width: 14.2rem;

    p {
        margin: 0;
    }
}

.header_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header_ctas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 40%;
    }

    .menu_burger {
        display: none;
    }
}

.header_nav {
    margin-top: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    .header_link-active, .header_link {
        font-size: 1.6rem;
    }

    .header_link {
        color: var(--white);
    }

    .header_link-active, .header_link:hover {
        color: rgba(0, 0, 0, 0.47);
    }

}


