.latestNews_container {
    background-color: var(--buttonPrimary);
    margin-top: 7rem;
    padding-bottom: 7rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    .latestNews_top {
        width: 85%;
        max-width: 1150px;
        margin: auto;
        padding-top: 5rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .latestNews_title {
            color: var(--white);
            font-family: "Merriweather", serif;
            font-size: 3.8rem;
            font-weight: 700;
        }

        .carouselle_arrows {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            #carouselle_prev {
                margin-right: 2rem;
            }
        }
    }

    .secondaryButton {
        width: 21.4rem;
        height: 4.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}