

// smaller monitor
@media screen and (max-width: 1300px) {
    // HEADER ----
    .header_top {
        .header_ctas {
            width: 50%;
            max-width: 40rem;
        }
    }

}
// ---------------------
// ---------------------


// ---------------------
// ---------------------
// mobile
@media screen and (max-width: 800px) {
    // HEADER ----
    .header_top {
        flex-direction: column-reverse;

        .header_logoAndBurger {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            margin-top: 2rem;

            .menu_burger {
                display: inline-flex;
            }
        }
        .header_ctas {
            width: 100%;
            justify-content: space-between;
        }

        .header_contactIcon {
            display: inline-flex;
        }

        .header_contactUs {
            display: none;
            cursor: pointer;
        }
    }

    .header_nav {
        display: none; // toggled in the dom flex<--->none

        flex-direction: column;
        height: 95%;
        
        position:relative;
        top: 0;

        padding: 5% 0;
        background-color: var(--buttonPrimary);

        .header_link {
            margin-top: 20rem;
        }
    }

    // ---------------

    // HERO ----
    .headerHero_container {

        .hero_content {
            .hero_title {
                font-size: 1.4rem;
            }
            
            .hero_subtitle {
                font-size: 2.4rem;
                width: 80%;
            }

            img {
                margin-top: 1rem;
            }
        }
    }

    // ---------------

    // FEATURED ARTICLE ----
    .featured_article {
        margin-top: 2rem !important;
        .featured_image {
            padding: 0 !important;
        }

        .featured_text {
            .featured_welcome,
            .featured_articleTitle,
            .featured_blurb,
            .featured_author
            {
                margin: 1rem 1.8rem !important;
            }

            .featured_welcome {
                margin-top: 5rem !important;
                margin-bottom: 0.5rem !important;
            }

            .primaryButton {
                margin: 2rem auto;
                margin-bottom: 5rem;
            }

        }
        
    }
}