.primaryButton {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    
    background-color: var(--buttonPrimary);
    color: var(--white);

    padding: 0.9rem 1.7rem;
    display: block;

    border-radius: 50px;
    width: 21.4rem;
}

.primaryButton:hover {
    color: var(--buttonPrimary);
    background-color: var(--buttonPrimaryHover);
}
