.primaryButton {
    background-color: var(--buttonPrimary);
    color: var(--white);

    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 50px;
    width: 21.4rem;
    height: 4.6rem;
}

.primaryButton:hover {
    color: var(--buttonPrimary);
    background-color: var(--buttonPrimaryHover);
    text-decoration: none;
}
