:root {
    // Colours
    --white: #FFFFFF;
    --primaryDarker: #0C0228;
    --buttonPrimary: #2F5C7C;
    --buttonPrimaryHover: rgba(47, 92, 124, 0.3);
    --Secondary: #B7BDC1;
    --ArticleDate: #ACA7B2;

    // Fonts
    font-size: 10px;
    line-height: 1.5;

    a {
        text-decoration: none;
    }
}

body {
    background-color: grey;
    width: 95%;
    max-width: 136.8rem;
    margin: auto;
}