@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Montserrat:ital,wght@0,300;0,400;0,600;1,700&display=swap');


h1, h2 {
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 2.4rem;
}

p, button, a, ul, li {
    font-family: "Montserrat", sans-serif;
    font-weight: var(--regular);
}